@keyframes fejlec {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.egyszer {
    animation-name: fejlec;             /*  fém gombok eltüntetése 10 másodpercig */
    animation-duration: 10s;
    animation-iteration-count: 1;
}
.c {
    color: blue;
}

.d {
    font-weight: bold;
    font-size: 40px;
}
